/**Alinhando itens do body addlobinho*/
.bodyaddlb{
    align-items: center;
}

/**Conteiner**/

.conteineraddlobo1{
    font-family: 'Darker Grotesque';
    display: flex;
    flex-direction: column;
    margin: 5vh;
    border: 2px solid black;
    padding: 4vw;
}

/**Titulo**/
.titleform{
    align-items: center;
    text-align: center;
}

/**Conteiner2**/
.conteineraddlobo2{
    display: flex;

}

.nomedolobinho {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.nomedolobinho input{
    width: 92%;
    background-color: #E6E6E6;
    border: 1px solid black;
    font-weight: 600;
}

.anos{
    width: 30%;
}

.anos input{
    width: 100%;
    background-color: #E6E6E6;
    border: 1px solid black;
    font-weight: 600;
}

/**Conteiner3**/
.conteineraddlobo3{
    display: flex;

}
.link{
    width: 100%;
}
.link input{
    width: 100%;
    background-color: #E6E6E6;
    border: 1px solid black;
    font-weight: 600;
}


/**Conteiner4**/
.conteineraddlobo4{
    display: flex;
}


.descriçao{
    width: 100%;

}

.descriçao textarea{
    resize: none;
    width: 100%;
    height: 150%;
    background-color: #E6E6E6;
    border: 1px solid black;
    font-weight: 600;
}

/**Botão**/
.botao{
    margin-top: 120px;
    display: flex;
    justify-content: center;
}
.botao button{
    width: 100px;
    padding: 5px;
    background-color: #2C5680;
    color: white;
    border: 1px solid black;
    cursor: pointer;
}

/**Margem h3**/
h3 {
    margin-bottom: 4px;
}