body{
    display:flex;
    flex-direction: column;
    /*
    align-items: center;
    */
    overflow-x: hidden;
}

header{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
    height:130px;
    background-color: #85CDF5;
}

.Header-Foto{
    width:110px;
    height:100%;
    background-image: url('../resources/Header-Logo.png');
    background-position:277.2px;
    background-size: cover;
}


header a{
    text-decoration: none;
    color:black;
}

header div{
    height:100%;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
}

header div:nth-child(1){
    flex:1;
    display:flex;
    justify-content:center;
    align-items: center;
}


header div:nth-child(3){
    flex:1;
    display:flex;
    justify-content:center;
    align-items: center;
}

header div a:hover{
    border-bottom: 2px solid black;
}




/**Footer**/
footer{
    font-family: 'Darker Grotesque';
    background-color: #333333;
    width: 100%;
    min-height: 30%;
    display: flex;
    flex-wrap: wrap;
    
}
.degrade{
    width: 100%;
    height: 5px;
    background-image: linear-gradient( to right, #DEB959, #2C5680);
}

/**Conteiner1**/
.conteiner1{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    width: 29%;
}
.mapa{
    
    display: flex;
    
}

.mapa iframe{
    min-width: 300px;
    width: 80%;
    height: 70%;
    
    
}
/**Conteiner2**/
.conteiner2{
    margin: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: 50px;
    width: 430px;
}

.location{
    position: relative;
    margin-bottom: 10px;
}

.location p{
    height: 8px;
}

.icone_location{
    margin-top: 5px;
    height: 20px;
    margin-right: 20px;
}

.contato{
    
    position: relative;
}
.contato p {
    height: 8px;
    position:relative;
}

.email{
    
    position: relative;
}
.email p{
    height: 8px;
}

.quem_somos{
    cursor:pointer;
}
.quem_somos p{
    color: black;
    padding: 8px;
    height: 20px;
    background-color: #DEB959;
    font-weight: 600;
}
.quem_somos a {
    text-decoration: none;
    color: black;
}

.conteiner3{
    display: flex;
    margin-left: 150px;
    position: relative;
    flex-direction: column;
    justify-content: center;


}
.imagem_pata img{
    width: 125px;
    height: 110px;
    margin-top: 18px;
}
.icons{
    display: flex;
}
i{
    margin-right: 10px;
}
.dev p{
    color: white;
    margin-bottom: 0;
    margin-top: 0px;

}
.dev{
    display: flex;
    justify-content: center;
}
@media (max-width: 600px){
    .conteiner3{
      margin-left: 0;
    }
  }
  @media (max-width: 1087px){
    footer{
      justify-content: center;
    }
    .conteiner3{
        margin-left: 0px;
    }

    .mapa{
      position: relative;
      left: 95px;
    }
    .conteiner2{
        margin-left: 110px;
    }
  }
  @media (max-width: 481px){
    .location{
      margin-bottom: 20px;
    }
    .conteiner2{
        margin-left: 20px;
    }
  }
